.cart {
  height: 100%;
}

.cart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.button,
.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #ab3c2a;
  background-color: #ab3c2a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.back-button {
  background-color: #fff;
  color: #ab3c2a;
}

.total-amount,
.check-out-group {
  display: flex;
  justify-content: flex-end;
}

.login {
  color: #ab3c2a;
}

.check-out-btn {
  margin-right: 10px;
}

.check-out-btn:last-of-type {
  margin-right: 0;
}

.empty {
  padding: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.not-login {
  /* width: 80%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-weight: bold;
}

.not-login span {
  color: #ab3c2a;
  text-decoration: underline;
  cursor: pointer;
}
