@keyframes fade-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.form {
  width: 100%;
  padding-right: 20px;
}

.form-animation {
  animation: fade-in 400ms ease-in-out;
}

@media (max-width: 1024px) {
  .form {
    padding-right: 0px;
  }
}

.form-item {
  height: 80px;
  margin-bottom: 25px;
}

.form-item label {
  display: block;
  font-size: 1.15rem;
  margin-bottom: 5px;
}

.form-item input {
  width: 100%;
  height: 40px;
  padding: 0px 10px;
  outline: none;
  border: 2px solid #d9d9d9;
  margin-bottom: 5px;
  border-radius: 5px;
}

.error label {
  color: #dc3545;
}

.error input {
  border: 3px solid #dc3545;
}

.error-message {
  color: #dc3545;
  top: 10px;
}

.btns button {
  min-width: 120px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #ab3c2a;
  background-color: #ab3c2a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns .back {
  cursor: pointer;
  font-size: 0.9rem;
  color: #8096a4;
}
