.menu {
  margin-top: 50px;
  height: 100%;
  width: 100%;
}

.menu-title {
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.menu-title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 30%;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ab3d2b;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.categories button {
  min-width: 120px;
  padding: 0.75rem 1.5rem;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ab3c2a;
  background-color: #ab3c2a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media (max-width: 640px) {
  .categories button {
    width: 40%;
  }
}

.categories .active,
.categories button:hover {
  background-color: #fff;
  color: #ab3c2a;
  transition: 0.2s ease-out;
}

.foods {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
