.info {
  background-color: #3cb371;
}

.info-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-item {
  font-size: 2.5rem;
  text-align: center;
}

.info-item p {
  font-size: 1.25rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.info-topic {
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

.info-text {
  width: 70%;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .info-items {
    flex-direction: column;
  }

  .info-text {
    width: 100%;
  }
}
