.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 20px;
  margin: 20px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (min-width: 768px) {
  .card {
    width: 40%;
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 30%;
    height: 425px;
  }
}

@media (min-width: 1280px) {
  .card {
    height: 480px;
  }
}

@media (min-width: 1536px) {
  .card {
    height: 500px;
  }
}
