@keyframes swipe-right {
  from {
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes swipe-left {
  from {
    transform: translateX(0%);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.prev-step {
  width: 100%;
  animation: swipe-right 300ms ease-out;
}

.next-step {
  width: 100%;
  animation: swipe-left 300ms ease-out;
}

.wrapper {
  width: 100%;
}
