.footer {
  background-color: #31353d;
  color: #ffffffcc;
  height: 150px;
  margin: 0 auto;
  padding: 20px 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.icons-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.icon {
  cursor: pointer;
  margin-right: 40px;
}

.icon:last-child {
  margin-right: 0;
}

.icon:hover {
  color: #fff;
}

.footer-text {
  font-weight: bold;
}

.footer-text a:hover {
  color: #fff;
}
