.orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  padding: 15px;
}

.even {
  background-color: #f5f7fa;
}

.left {
  width: 15%;
  white-space: nowrap;
}

.left span {
  font-size: 20px;
}

.id {
  font-size: 12px;
  color: #767676;
  margin-bottom: 20px;
}

.time {
  color: #767676;
  margin-left: px;
}

.mobile-price {
  display: none;
  color: #767676;
  font-size: 24px;
  font-weight: bold;
}

.center {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.item {
  display: flex;
  /* justify-content: center; */
  align-content: center;
}

.item-left {
  margin-bottom: 20px;
  margin-right: 20px;
}

.item-right {
  width: 100%;
}

.item-name {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0;
}

.item-price {
  position: relative;
  color: #767676;
}

.item-price::after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.right {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  color: #767676;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 576px) {
  .orders {
    display: block;
  }

  .left {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .mobile-price {
    display: flex;
  }

  .right {
    display: none;
  }
}
