.orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  padding: 15px;
  z-index: 1;
}

.even {
  position: relative;
  background-color: #f5f7fa;
}

.even:before {
  content: " ";
  position: absolute;
  background-color: #f5f7fa;
  top: 0;
  left: -24px;
  right: -24px;
  bottom: 0;
  height: 100%;
  z-index: -1;
}

.left {
  font-weight: bold;
  width: 20%;
  white-space: nowrap;
}

.id {
  font-size: 12px;
  margin-bottom: 20px;
}

.time {
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100px;
  padding: 5px;
  color: #fff;
  border-radius: 10px;
}

.pending {
  background-color: #007bff;
}

.delivering {
  background-color: #ffc107;
}

.arrived {
  background-color: #28a745;
}

.mobile-price {
  display: none;
  font-size: 24px;
  font-weight: bold;
}

.center {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.item {
  display: flex;
  /* justify-content: center; */
  align-content: center;
}

.item-left {
  margin-bottom: 20px;
  margin-right: 20px;
}

.item-right {
  width: 100%;
}

.item-name {
  font-size: 20px;
  font-weight: bold;
  margin: 40px 0;
}

.item-price {
  position: relative;
  color: #767676;
}

.item-price::after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.right {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .orders {
    display: block;
  }

  .left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .mobile-price {
    display: flex;
  }

  .right {
    display: none;
  }
}
