.form-wrapper {
  margin-top: 80px;
}

.form {
  margin-left: auto;
  margin-right: auto;
}

.form select {
  -webkit-appearance: none;
}

.form-header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-title {
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .form {
    padding-right: 0px;
  }
}

.form-item {
  height: 80px;
  margin-bottom: 25px;
}

.form-item label {
  display: block;
  font-size: 1.15rem;
  margin-bottom: 5px;
}

.form-item input,
.form-item select {
  width: 100%;
  height: 50px;
  outline: none;
  border: 2px solid #dcdfe6;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 0px 10px;
}

.error label {
  color: #dc3545;
}

.error input,
.error select {
  border: 3px solid #dc3545;
}

.error-message {
  color: #dc3545;
  top: 10px;
}

.edit-btn,
.delete-btn,
.sub-btn {
  font-size: 12px;
  min-width: 120px;
  padding: 0.75rem 1.5rem;
  border: 1px solid #3b8070;
  background-color: #3b8070;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.delete-btn {
  border: 2px solid #f56c6c;
  background-color: #f56c6c;
}

.sub-btn {
  border: 2px solid #3b8070;
  background-color: #fff;
  color: #3b8070;
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns .back {
  cursor: pointer;
  font-size: 0.9rem;
  color: #8096a4;
}
